{% extends 'base.html.twig' %}

{% block title %}Answer List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="mb-0">Question: <a class="text-decoration-none" href="{{ path('question.edit', { id: question.id }) }}">{{ question.question }}</a></h4>
                            <h4 class="mb-0"><a class="text-decoration-none" href="{{ path('question.index', { id: question.quizId })) }}">Question List</a></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">Answer List</h5>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Answer</th>
                                        <th scope="col">Sort Order</th>
                                        <th scope="col">Behavior</th>
                                        <th scope="col">Restriction</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in records %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.answer }}</td>
                                        <td>{{ item.sortOrder }}</td>
                                        <td>{{ item.behavior }}</td>
                                        <td>{{ item.restriction }}</td>
                                        <td>
                                            <a href="{{ path('answer.edit', { id: item.id, questionId: item.questionId }) }}" class="btn btn-sm btn-primary">Edit</a>
                                            <a href="{{ path('answer.delete', {id: item.id, questionId: item.questionId }) }}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('answer.create', { questionId: question.id }) }}" class="btn btn-primary">Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
